---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Twilight Tempo">
	<nav>
		<a href="/wakfu" class="text-white">Wakfu</a>
		<a href="/sets" class="text-white">Sets</a>
	</nav>
</Layout>
