---
import '../styles/global.css'

const { title } = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			body {
				font-family: 'Alan Sans';
			}
		</style>
	</head>
	<body class="bg-[#444]">
		<slot />
	</body>
</html>
